body {
  background: #181716;
  color: white;
}
a {
  color: lightskyblue;
}
h1 {
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table {
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 70%;
  table-layout: fixed;
  background-color: black;
  color: white;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #101113;
}

h3 {
  background: red;
}